# The loopback network interface
auto lo
iface lo inet loopback
   address {{node[inventory_hostname]["routing"]["lo"]}}

auto eth0
iface eth0 inet dhcp

auto vagrant
iface vagrant inet dhcp

{% for interface in node[inventory_hostname]["ports"] %}
auto {{interface}}
iface {{interface}} inet static
   address {{node[inventory_hostname]["routing"]["lo"]}}
   mtu 1500
   post-up ip link set promisc on dev {{interface}}

{% endfor %}
